<h2>Login</h2>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit) = "login(loginForm.value)">
    <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
    <div *ngIf="loginForm.get('email')?.hasError('pattern')" class="error">* Formato dell'e-mail non corretto</div>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <div *ngIf="errorDiv" class="error">* La password o l'e-mail non é corretta</div>
    <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!loginForm.valid"
    >
      Log in
    </button>
  </form>
</div>

